body {
    font-family: sans-serif;
    background-color: lightblue;
    margin-top: 75px;
}

#title {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-size: 300%;
}

#body {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 50px;
    border: 1px;
    font-size: 200%;
}

footer {
    padding-left: 10px;
    padding-top: 10px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

